In [26]:
import pandas as pd
import matplotlib.pyplot as plt

data = pd.read_csv('../data/processed/cangas_IU_todo.csv')
data = data.drop(columns={'UI'})
data

           fecha  abierto/cerrado
0     2010-03-04                0
1     2010-03-05                0
2     2010-03-06                0
3     2010-03-07                0
4     2010-03-08                0
...          ...              ...
3101  2019-02-27                0
3102  2019-02-28                0
3103  2019-03-01                0
3104  2019-03-02                0
3105  2019-03-03                0

[3106 rows x 2 columns]

In [27]:
data['fecha'] = pd.to_datetime(data['fecha'])
data['mes'] = data['fecha'].dt.month_name(locale='es_ES.utf8')  # Obtener nombre del mes en español
data['año'] = data['fecha'].dt.year

In [28]:
cambios_por_mes = data.groupby(['mes', 'año'])['abierto/cerrado'].apply(lambda x: (x != x.shift()).sum()).reset_index()

In [29]:
# Crear un diccionario para almacenar los conteos por mes
conteo_meses = {}

# Iterar sobre cada fila del DataFrame agrupado
for index, row in cambios_por_mes.iterrows():
    mes_año = f"{row['mes']} : {row['abierto/cerrado']}"
    if mes_año in conteo_meses:
        conteo_meses[mes_año] += 1
    else:
        conteo_meses[mes_año] = 1

# Imprimir el resultado ordenado por mes
for mes_año, conteo in sorted(conteo_meses.items()):
    print(f"{mes_año} : {conteo}")

Abril : 1 : 5
Abril : 2 : 3
Agosto : 1 : 4
Agosto : 2 : 4
Agosto : 3 : 1
Diciembre : 1 : 7
Diciembre : 2 : 2
Enero : 1 : 6
Enero : 2 : 2
Febrero : 1 : 6
Febrero : 2 : 1
Febrero : 3 : 1
Julio : 1 : 6
Julio : 2 : 3
Junio : 1 : 6
Junio : 3 : 2
Marzo : 1 : 4
Marzo : 2 : 5
Mayo : 1 : 8
Noviembre : 1 : 7
Noviembre : 2 : 2
Octubre : 1 : 6
Octubre : 2 : 1
Octubre : 3 : 2
Septiembre : 1 : 6
Septiembre : 2 : 1
Septiembre : 3 : 2