In [7]:
import pandas as pd
from io import StringIO

# Cargar el dataset desde un archivo (puede ser .csv, .xlsx, etc.)
# Aquí asumimos que es un archivo .csv llamado 'dataset.csv'
df = pd.read_csv('../data/raw/variables.csv')

# Identificar las columnas que terminan en '_val'
val_columns = [col for col in df.columns if col.endswith('_val')]

# Filtrar las filas que no tienen 3, 4 o 9 en las columnas que terminan en '_val'
filtered_df = df[~df[val_columns].isin([3, 4, 9]).any(axis=1)]

# Mostrar el DataFrame resultante
filtered_df

C:\Users\rmarc\AppData\Local\Temp\ipykernel_20860\3190334716.py:6: DtypeWarning: Columns (8,10,12,14,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/raw/variables.csv')

,fecha,temperatura,temperatura_val,salinidad,salinidad_val,presion,presion_val,ph,ph_val,oxigeno,...,fluorencencia_uv,fluorencencia_uv_val,fluorescencia,fluorescencia_val,densidad,densidad_val,profundidad,profundidad_val,conductividad,conductividad_val
3,03/06/2019 9:37:00,"17,4984",1,"35,4951",1,"3,095",1,"8,439",0,"2,93502",...,"3,3222",0,"-0,2273",0,"25,7743",1,"3,071",0,"4,596964",0
4,03/06/2019 9:37:00,"17,4953",1,"35,5101",1,"3,343",1,"8,443",0,"2,93408",...,"3,3222",0,"-0,2278",0,"25,7866",1,"3,317",0,"4,598402",0
5,03/06/2019 9:37:00,"17,4585",1,"35,5322",1,"3,664",1,"8,443",0,"2,93794",...,"3,2754",0,"-0,2277",0,"25,8125",1,"3,635",0,"4,59724",0
6,03/06/2019 9:37:00,"17,0761",1,"35,6924",1,"4,027",1,"8,445",0,"2,95737",...,"3,2662",0,"-0,2271",0,"26,0277",1,"3,995",0,"4,576886",0
11,03/06/2019 9:37:00,"15,555",1,"35,6922",1,"6,161",1,"8,462",0,"3,0581",...,"3,2385",0,"-0,2244",0,"26,3817",1,"6,113",0,"4,423405",0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35592,17/08/2010 9:41:00,"12,8661",1,"35,7491",1,"11,219",1,"8,29",1,"4,68066",...,"0,1779",1,"4,0123",1,"27,0005",1,"11,131",0,"4,162088",1
35594,17/08/2010 9:41:00,"12,834",1,"35,7513",1,"11,676",1,"8,286",1,"4,67935",...,"0,1779",1,"4,0123",1,"27,0087",1,"11,584",0,"4,159181",1
35595,17/08/2010 9:41:00,"12,8228",1,"35,7506",1,"11,896",1,"8,286",1,"4,67952",...,"0,1779",1,"3,9647",1,"27,0104",1,"11,802",0,"4,158015",1
35596,17/08/2010 9:41:00,"12,821",1,"35,7502",1,"12,091",1,"8,276",1,"4,67702",...,"0,1863",1,"3,9805",1,"27,0104",1,"11,996",0,"4,157795",1
35597,17/08/2010 9:41:00,"12,8201",1,"35,7501",1,"12,265",1,"8,271",1,"4,67584",...,"0,1933",1,"3,9805",1,"27,0106",1,"12,168",0,"4,157711",1

In [8]:
filtered_df = filtered_df.drop(columns=val_columns)
filtered_df

,fecha,temperatura,salinidad,presion,ph,oxigeno,transmitancia,irradiancia,fluorencencia_uv,fluorescencia,densidad,profundidad,conductividad
3,03/06/2019 9:37:00,"17,4984","35,4951","3,095","8,439","2,93502","0,9194","137,2","3,3222","-0,2273","25,7743","3,071","4,596964"
4,03/06/2019 9:37:00,"17,4953","35,5101","3,343","8,443","2,93408","0,916","129,32","3,3222","-0,2278","25,7866","3,317","4,598402"
5,03/06/2019 9:37:00,"17,4585","35,5322","3,664","8,443","2,93794","0,9152","121,43","3,2754","-0,2277","25,8125","3,635","4,59724"
6,03/06/2019 9:37:00,"17,0761","35,6924","4,027","8,445","2,95737","0,9169","113,61","3,2662","-0,2271","26,0277","3,995","4,576886"
11,03/06/2019 9:37:00,"15,555","35,6922","6,161","8,462","3,0581","0,9237","90,327","3,2385","-0,2244","26,3817","6,113","4,423405"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
35592,17/08/2010 9:41:00,"12,8661","35,7491","11,219","8,29","4,68066","90,1045","38,209","0,1779","4,0123","27,0005","11,131","4,162088"
35594,17/08/2010 9:41:00,"12,834","35,7513","11,676","8,286","4,67935","91,0885","34,6","0,1779","4,0123","27,0087","11,584","4,159181"
35595,17/08/2010 9:41:00,"12,8228","35,7506","11,896","8,286","4,67952","92,0725","33,229","0,1779","3,9647","27,0104","11,802","4,158015"
35596,17/08/2010 9:41:00,"12,821","35,7502","12,091","8,276","4,67702","91,8065","32,148","0,1863","3,9805","27,0104","11,996","4,157795"
35597,17/08/2010 9:41:00,"12,8201","35,7501","12,265","8,271","4,67584","91,8065","31,446","0,1933","3,9805","27,0106","12,168","4,157711"

In [15]:
for col in filtered_df.columns:
    if col != 'fecha':
        # Convertir la columna a string, luego reemplazar comas por puntos y manejar valores inválidos
        filtered_df[col] = filtered_df[col].astype(str).str.replace(',', '.').replace('-', 'NaN').astype(float)

filtered_df['fecha'] = pd.to_datetime(filtered_df['fecha'], format='%d/%m/%Y %H:%M:%S').dt.date

# Agrupar por la columna 'fecha' y calcular la media del resto de columnas
grouped_df = filtered_df.groupby('fecha').mean().reset_index()

# Mostrar el DataFrame resultante
print(grouped_df)

          fecha  temperatura  salinidad    presion        ph   oxigeno  \
0    2010-08-17    13.306459  35.746884   6.890078  8.367686  5.131782
1    2010-08-23    15.699648  35.727502   6.183182  7.797841  6.215952
2    2010-08-30    16.120131  35.642353  10.224971  7.745000  5.472385
3    2010-10-25    16.864882  35.543507   8.722851  8.218920  5.141889
4    2010-11-02    16.424881  35.677989   9.230360  8.228854  5.400122
..          ...          ...        ...        ...       ...       ...
378  2019-04-29    14.330649  35.029360  13.827429  8.400314  4.323202
379  2019-05-13    14.776997  35.191488  11.493824  8.410941  3.714091
380  2019-05-20    14.972056  35.391109  11.132594  8.431156  2.422975
381  2019-05-28    13.087665  35.669681  11.400962  8.497000  2.158916
382  2019-06-03    14.723523  35.669082  10.791136  8.475182  2.531297

     transmitancia  irradiancia  fluorencencia_uv  fluorescencia   densidad  \
0        88.917084    96.672039          0.354822       3.729369  26.908506
1        94.889725    95.954295          0.165284       1.442657  26.374636
2        93.236797   131.195000          0.182375       1.526987  26.210726
3        92.915863    80.002138               NaN       2.092978  25.963685
4        79.040064    48.667762               NaN       1.237627  26.170776
..             ...          ...               ...            ...        ...
378       0.923140    59.755820          9.038149      -0.223391  26.139223
379       0.870985   197.332412          3.792771      -0.220126  26.168065
380       0.917834   229.007125          3.602003      -0.228291  26.279519
381       0.905331   186.286731          1.901523      -0.229150  26.888562
382       0.923623    66.371864          3.175391      -0.224591  26.539950

     profundidad  conductividad
0       6.835902       4.205227
1       6.134614       4.441973
2      10.144471       4.475046
3       8.654207       4.538717
4       9.157697       4.509561
..           ...            ...
378    13.718486       4.229858
379    11.403324       4.291131
380    11.044969       4.332304
381    11.311192       4.175993
382    10.706227       4.338367

[383 rows x 13 columns]